/* 
    Created on : 16.11.2014, 16:27:20
    Author     : Filip Macek
*/


/*
=============================  Části webu ===============================
*/  


.logo {
    width: 400px;
    height: 120px;
    background: transparent url(/img/logo-dark.png) no-repeat 5px 10px;
    float: left;
    margin-left: 15px;
}

.logo h1 {
    display: none;
}

.menu-item {
    border: 0 solid #DA1C1C;
    border-width: 0 1px;
    color: white;
}

.header, .red-background {
    background-color: #da4848;
}
.header-top {
    height: 130px;

}
.header-bottom, .header-top, .header {
    border: 0;
    border-radius: 0;
}
.header:after, .shadow:after {
    content: "";
    display: block;
    background: transparent;
    background: -moz-linear-gradient(top,  #787878 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#787878), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #787878 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #787878 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #787878 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #787878 15%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    width: 100%;
    position: absolute;   
    height: 5px;
    bottom: -5px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    padding-top:20px;
    border-top: 1px solid #999;
    text-align:center;
    margin-top:20px;
}

.space {
    position: relative;
    height: 200px;
}

/*
================================  HTML to CSS  =================================
*/

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.center-text {
    text-align: center;
}

/*
==============================  Grafické prvky  ================================
*/
p {
    text-align: justify;
}

.lichy{
    background: #eee;
}

.lichy:nth-of-type(even) {
    background: transparent;
}

.center-text
{
    text-align: center;
}

.justify {
    text-align: justify;
}

.vcenter {
    display: flex;
    align-items: center;
}
html, p, span, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24   {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
h1, h1, h3, h4, h5, h6, .btn, .nav {
    font-family: 'Roboto', sans-serif;
}

.fixed {
    position: fixed;
}
.display-none {
    display: none;
}


/*
==================================  Animace ====================================
*/

.input-group input {
    transition: 0.5s all;
}

/*
==========================  velikosti a ohraničení  ============================
*/
.top-120 {
    top: 120px;
}
.top-0 {
    top: 0px;
}
.z-index-800 {
    z-index: 800;   

}
.width-1200 {
    width: 1200px;
}
.width-20 {
    width: 20px;
}
.width100 {
    width: 100%;
}
.margin-top-35 {
    margin-top: 35px;
}

.margin-bottom-2 {
    margin-bottom: 2px;
}
.margin-top-2 {
    margin-top: 2px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-bottom-0 {
    margin-bottom: 0px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-0 {
    margin: 0;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-right-20 {
    padding-right:20px;
}
.padding-left-20 {
    padding-left:20px;
}
.padding-right-30 {
    padding-right:30px;
}
.padding-left-30 {
    padding-left:30px;
}
.padding-top-3 {
    padding-top: 3px;
}

.padding-10 {
    padding: 10px;
}

.padding-0 {
    padding: 0;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-left-13 {
        padding-left: 13px;

}

/*
==========================  změna boostrapu  ============================
*/

.btn-group, .btn, .form-control, select {
    border-radius: 0;
}
.bottom-column
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}
.progress, .progress-bar {
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
        
}