/* 
    Created on : 16.11.2014, 16:27:20
    Author     : Filip Macek
*/
body {
    background-color: #101010;
    color: #CDCDCD;
}

.dropdown-menu {
    background-color: #CDCDCD;
}


a {
    color: #62B7FF;
    background-color: transparent;
}
.logo {
    width: 400px;
    height: 120px;
    background: transparent url(/img/logo-dark.png) no-repeat 5px 10px;
    float: left;
    margin-left: 15px;
}
.logo h1 {
    display: none;
}
.vertical-align-menu {
    margin-top: 35px;
}
p {
    text-align: justify;
}
.normal-menu
{
    height: 140px;
}
.user-account {
    padding: 10px;
}
.nav-bg
{
    background-color: #101010;
}
.nav-bg:after {
    content: "";
    display: block;
    background: transparent;
    background: -moz-linear-gradient(top,  #101010 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101010), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #101010 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #101010 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #101010 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #101010 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: -20px;
}
.wanna-padding {
    padding: 10px;
}
.black-font {
    color: #000;
}
.schovat {
    display:none;
}
.gray-darker{ background-color: #222;}  
.gray-dark{background-color: #333;}
.gray{background-color: #555;}    
.gray-light{background-color: #777;}  
.gray-lighter{background-color: #EEE;}

.lichy{
    background: #646060;
}
.lichy:nth-of-type(even) {
    background: transparent;
}
.margin-bottom-and-up-2px
{
    margin-bottom: 2px;
    margin-top: 2px;
}

.margin-bottom-and-up-10px
{
    margin-bottom: 10px;
    margin-top: 10px;
}
.center-text
{
    text-align: center;
}
.lol
{
    padding-top: 12px;
}
.justify
{
    text-align: justify;
}
.vcenter {
    display: flex;
    align-items: center;
}

.h3 {
    display: block;
    font-size: 1.17em;
    margin-before: 1em;
    margin-after: 1em;
    margin-start: 0;
    margin-end: 0;
    font-weight: bold; }

.bottom-column
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}
.footer {
    position: relative;
    bottom: 0;
    width: 1170px;
    margin: 0 auto;
    height: 60px;
    padding-top:20px;
    border-top: 1px solid #999;
    text-align:center;
    margin-top:20px;
}
.fb_iframe
{
    border:none; 
    overflow:hidden; 
    width:300px; 
    height:64px;
}
.bold
{
    font-weight: bold;
}
.italic
{
    font-style: italic;
}
.finished-text {
    border: 1px #3C763D solid;
    background-color: #DFF8E4;
}
.debug-text {
    border: 1px #8A6D3B solid;
    background-color: #F8F6D8;
}

.fa-at {
    font-size: 16px;
}
.width100 {
    width: 100%;
}
.center-text {
    text-align: center;
}
.editor {
    min-height: 100px;
    width: 100%;
}
